<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="post">
        <input type="text" placeholder="Name" name="name"> <br> <br>
        <input type="text" placeholder="Photo URL" name="photo"> <br> <br>
        <input type="number" placeholder="Age" name="age"> <br> <br>
        <input type="text" placeholder="Gender" name="gender"> <br> <br>
        <input type="email" placeholder="Email" name="email"> <br> <br>
        <input type="number" placeholder="Contact" name="contact"> <br> <br>
        <input type="text" placeholder="Address" name="address"> <br> <br>
        <button>Submit</button>
    </form>
</body>
</html>