.container{
    border: 2px solid black;
    /* width: 980px; */
    width: 70vw;
}


@media only screen and (max-width: 768px) {
    .container{
        width: 90vw;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width: 100vw;
    }
}