*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    background: url('./img/Space.png') rgba(40, 40, 120, 0.736);
    position: relative;
    animation: bgMove 3.5s ease-in-out forwards;
}

.rocket{
    /* border: 4px solid red; */
    width: 250px;
    height: 250px;
    transform: rotateZ(45deg);
    position: absolute;
    bottom: 200px;
    left: 500px;
    animation: Move 2s ease-in-out infinite,
                rocketLaunchPos 2s ease-in-out 7.5s forwards,
                rocketLaunch 2s ease-in-out 9.5s forwards;
}

.cody{
    width: 90px;
    position: absolute;
    bottom: 200px;
    left: -200px;
    animation: Move 2s ease-in-out infinite,
                codyMoveForward 2s ease-in-out 3.5s forwards,
                codyInRocket 2s ease-in-out 5.5s forwards;
}

img{
    /* border: 2px solid orange; */
    width: 100%;
}




