<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3><%= comment.text %></h3>
        <p>Created By: <%= comment.createdBy %></p>
    </div>
</body>
</html>