body{
    background-color: antiquewhite;
}

.container{
    width: 80vw;
    min-height: 300px;
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr ; */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)) ;
    grid-template-rows: repeat(auto-fill, 1fr);
}

.el{
    border: 2px solid black;
    background-color: coral;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


