<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Hi!! <%= name %></h2>

    <h4>Your Age: <%= age %></h4>
    <h4>Your Address: <%= address%></h4>


</body>
</html>