<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>This is HOME Page</h2>



    <form action="/userdata" method="post">
        <label for="username">Username: </label>
        <input id="username" type="text" name="username">

        <br> <br>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password">

        <br> <br>
        <button>Submit</button>

    </form>

</body>
</html>